
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(50, 18, 122);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}


.title {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.watch1 {
  color: pink;
  font-weight: bold;
  font-size: 58px;
}

.watch2 {
  color: pink;
  font-size: 42px;
}

.stopwatch {
  color: white;
  font-weight: bold;
  font-size: 44px;
  text-align: center;
  margin: 20px 0;
}

.actualwatch {
  color: white;
  font-weight: bold;
  font-size: 120px; 
  text-align: center;
}

.sec {
  color: white;
  text-align: center;
  margin: 10px 0;
 
}


.buttons {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.border1,
.border2 {
  padding: 15px 40px;
  font-size: 32px;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid pink;
  background-color: pink;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.border1:hover,
.border2:hover {
  transform: scale(1.05);
  font-size: 34px;
}
